body{
    background-color: chartreuse;
    color: blue   ;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.header1{
    width: 400px;
    height: 30px;
    text-align: center;
    margin-left: 470px;
}
.header1 {
    
    background-color: chartreuse;
    transition: background-color .5s ;
}
.header1:hover {
    background-color: red;
}